@font-face {
    font-family: Magra;
    src: url(../travel/assets/fonts/Magra/Magra-Regular.ttf);
}

@font-face {
    font-family: Red_Hat_Text;
    src: url(../travel/assets/fonts/Red_Hat_Text/static/RedHatText-Regular.ttf);
}

@font-face {
    font-family: Aleo;
    src: url(../travel/assets/fonts/Aleo/Aleo-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

.wrapper-1 {
    height: 765px;
    background: url(../travel/assets/images/Wrapper-1.jpg);
}

.header {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.header_logo {
    width: 16%;
    margin: 25px 158px 34px 121px;
    display: flex;
    align-items: baseline;
    gap: 6px;
}

.header_logo p {
    margin: 0;
}

.header_logo a {
    text-decoration: none;
    font-family: Magra, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}

.header nav {
    margin: 0px auto 15px auto;
}

.header_menu {
    list-style: none;
    padding: 0;
    margin: 35px 196px 34px 0px;
    display: flex;
    gap: 42px;
}

.header_menu a {
    text-decoration: none;
    font-family: Red_Hat_Text, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.header_menu a:hover {
    color: #0D606F;
    transition: all 0.3s;
}

.header_burger-menu {
    display: none;
}

.header_button {
    margin-bottom: 10px;
}

.header_button button {
    width: 103px;
    height: 41px;
    margin: 25px 119px 25px 0px;
    border: none;
    border-radius: 10px;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    font-family: Red_Hat_Text, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.header_button button:hover {
    cursor: pointer;
    background: rgba(242, 120, 92, 0.7);
    transition: all 0.3s;
}

.header_logo-burger {
    display: none;
}

.preview {
    width: 62%;
    margin: 32px 428px 221px 120px;
    display: flex;
    flex-direction: column;
}

.preview h1 {
    margin: 0;
    font-family: Aleo, sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
}

.preview p {
    margin-top: 25px;
    margin-bottom: 46px;
    font-family: Aleo, sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.preview_input {
    margin-bottom: 33px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
}

.preview_input input {
    width: 63%;
    margin: auto 45px auto 41px;
    border: none;
    outline: none;
    font-family: Aleo, sans-serif;
    font-style: italic;
    font-size: 24px;
    line-height: 29px;
    background: transparent;
}

::-webkit-input-placeholder {
    color: #F2785C;
}

.preview_input button {
    width: 228px;
    height: 59px;
    margin: 18px 18px 18px 0px;
    border: none;
    border-radius: 10px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    font-family: Red_Hat_Text, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.preview_input button:hover {
    cursor: pointer;
    background: rgba(242, 120, 92, 0.7);
    transition: all 0.3s;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.steps {
    width: 100%;
    margin: 74px 132px 45px 131px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.steps h2 {
    margin: 0;
    font-family: Red_Hat_Text, sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}

.steps_images {
    width: 82%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps_images figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.steps_images p {
    margin: 0;
}

.steps_images figcaption {
    font-family: Aleo, sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

.destinations {
    margin-bottom: 172px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.destinations h2 {
    margin: 48px auto 46px auto;
    font-family: Red_Hat_Text, sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}

.destinations_slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.destinations_images {
    display: flex;
    gap: 60px;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.destinations_images figure {
    margin: 0 auto;
    position: relative;
}

.destinations_images img {
    display: block;
    border-radius: 16px;
}

.destinations_images figcaption {
    position: absolute;
    bottom: 40px;
    left: 15px;
    font-family: Red_Hat_Text, sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
}

.destinations_pagination {
    margin: 25px auto 40px auto;
    display: flex;
    gap: 10px;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(242, 120, 92, 0.5);
}

.dot.active {
    background: #F2785C;
}

.destinations_pagination-mobile {
    display: none;
}

.destinations_button button {
    width: 228px;
    height: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 10px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    font-family: Red_Hat_Text, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.destinations_button button:hover {
    cursor: pointer;
    background: rgba(242, 120, 92, 0.7);
    transition: all 0.3s;
}

.wrapper-2 {
    height: 1331px;
    background: url(../travel/assets/images/Wrapper-2.jpg);
}

.wrapper-3 {
    height: 1270px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: rgba(255, 255, 255, 0.7);
}

.stories {
    width: 83%;
    position: absolute;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.stories h2 {
    margin-bottom: 80px;
    font-family: Red_Hat_Text, sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}

.stories_figures {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.stories_figures figure {
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.stories_figures p {
    margin: 0;
}

.stories_figures img {
    border-radius: 16px;
    filter: drop-shadow(0px 4px 4px #0D606F);
}

.stories_figures figcaption h3 {
    margin-top: 0;
    margin-bottom: 24px;
    font-family: Aleo, sans-serif;
    font-size: 35px;
    line-height: 42px;
    color: #0D606F;
}

.stories_desktop-text {
    font-family: Aleo, sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

.stories_mobile-text {
    display: none;
}

.stories_figures figcaption a {
    font-family: Aleo, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

.stories_figures figcaption a:hover {
    color: rgba(242, 120, 92, 0.7);
    transition: all 0.3s;
}

.stories_button button {
    width: 228px;
    height: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 10px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    font-family: Red_Hat_Text, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.stories_button button:hover {
    cursor: pointer;
    background: rgba(242, 120, 92, 0.7);
    transition: all 0.3s;
}

.footer {
    width: 51%;
    margin: 14px 121px 13px 590px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer h4 {
    margin: 0;
    font-family: Red_Hat_Text, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.footer_networks {
    margin: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}



@media (min-width: 320px) and (max-width: 390px) {
    .wrapper-1 {
        height: 251px;
        margin: 0 auto 20px auto;
        background-size: cover;
        background-position: center;
    }

    .header {
        position: relative;
        background: none;
        box-shadow: none;
    }

    .header_logo {
        display: none;
    }

    .header_menu {
        display: none;
    }

    .header_burger-menu {
        width: 110px;
        height: 230px;
        margin: 0;
        padding: 10px 15px 20px 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        position: fixed;
        top: 0;
        right: 0;
        list-style: none;
        border-radius: 10px;
        background: #F2785C;
        box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
        transform: translateX(100%);
        transition: transform 0.8s;
    }

    .header_burger-menu.active {
        transform: translateX(0);
    }

    .header_close-menu {
        position: absolute;
        right: 115px;
        bottom: 220px;
    }

   .header_burger-menu a {
        text-decoration: none;
        font-family: Red_Hat_Text, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: #FFFFFF;
   }

    .header_button {
        display: none;
    }

    .header_logo-burger {
        width: 92%;
        margin: 90px 16px 60px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .preview {
        width: 92%;
        margin: 51px 16px 0px 15px;
    }

    .preview h1 {
        display: none;
    }

    .preview p {
        display: none;
    }

    .preview_input input {
        width: 63%;
        margin: auto 16px auto 16px;
        font-size: 14px;
        line-height: 17px;
    }

    .preview_input button {
        width: 92px;
        height: 30px;
        margin: 9px 9px 9px 0px;
        font-size: 11px;
        line-height: 15px;
    }

    .steps {
        margin: 0px 15px 0px 15px;
        gap: 20px;
    }

    .steps h2 {
        font-size: 14px;
        line-height: 19px;
    }

    .steps_images {
        align-items: flex-start;
        width: 92%;
        gap: 75px;
    }

    .steps_images figure {
        align-items: flex-start;
        gap: 17px;
    }

    .steps_images img {
        width: 70px;
        height: 70px;
    }

    .steps_images figcaption {
        font-size: 9px;
        line-height: 12px;
    }

    .steps_text-1 {
        text-align: left;
    }

    .steps_text-2 {
        text-align: center;
    }

    .steps_text-3 {
        text-align: right;
    }

    .destinations {
        margin-bottom: 49px;
    }

    .destinations h2 {
        margin: 19px auto 20px auto;
        font-size: 14px;
        line-height: 19px;
    }

    .active {
        display: none;
    }

    .destinations_usa {
        display: none;
    }

    .destinations_images img {
        width: 360px;
        height: 210px;
    }

    .destinations_images figcaption {
        bottom: 205px;
        font-size: 20px;
        line-height: 26px;
    }

    .destinations_slider {
        position: relative;
    }

    .destinations_pagination {
        margin: 0;
        position: absolute;
        bottom: 12px;
        gap: 6px;
    }

    .dot, .dot.active {
        width: 8px;
        height: 8px;
    }

    .destinations_pagination-mobile {
        width: 97%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 70px;
    }

    .destinations_button img {
        width: 10px;
        height: 10px;
    }

    .destinations_button button {
        width: 92px;
        height: 30px;
        margin-top: 9px;
        gap: 6px;
        font-size: 11px;
        line-height: 15px;
    }

    .wrapper-2 {
        height: 693px;
        background-size: cover;
        background-position: center;
    }

    .wrapper-3 {
        height: 628px;
    }

    .stories {
        width: 97%;
        bottom: 14px;
    }

    .stories h2 {
        margin-bottom: 21px;
        font-size: 14px;
        line-height: 19px;
    }

    .stories_figures {
        width: 95%;
        margin: 0;
        gap: 14px;
    }

    .stories_figures figure {
        align-items: center;
        gap: 10px;
    }

    .stories_figures img {
        width: 155px;
        height: 130px;
        display: block;
    }

    .stories_figures figcaption h3 {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 11px;
        line-height: 13px;
    }

    .stories_desktop-text {
        display: none;
    }

    .stories_mobile-text {
        display: block;
        font-family: Aleo, sans-serif;
        font-size: 9px;
        line-height: 11px;
        color: #0D606F;
    }

    .stories_figures figcaption a {
        font-size: 9px;
        line-height: 11px;
    }

    .stories_button img {
        width: 10px;
        height: 10px;
    }

    .stories_button button {
        width: 92px;
        height: 30px;
        margin-top: 10px;
        gap: 6px;
        font-size: 11px;
        line-height: 15px;
    }

    .footer {
        width: 36%;
        margin: 0;
    }

    .footer h4 {
        display: none;
    }

    .footer_networks {
        margin: 15px 120px 16px 89px;
    }
}